.project-box {
  display: inline-block;
  padding: 15px 0px;
  @extend %PrimaryFont;
  line-height: $site-base-line-height;
    & img {
      margin: 0 auto;
      max-width: 300px;
      @include tablet {
        max-width: 345px;
      }
      @include desktop {
        max-width: 290px;
      }
    }
    & h3 {
      margin-top: 1em;
      margin-bottom: .5em;
    }
    & p {
      @extend %SecondaryFont;
      text-align: center;
      max-width: 90%;
      margin: 0 auto;
    }
  @include tablet {
    width: 48%;
    margin: 10px 5px;
  }
  @include desktop {
    width: 30%;
  }
}
